@import "breakpoints.scss";
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

.hero-section {
position: relative;
height: 100vh;
overflow: hidden;
display: flex;
flex-direction: column;

video {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -1;
    @include media('>=tablet') {
    top: 0px;
    }
}
> img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    @include media('>=desktop') {
        height: 100vh;
        position: absolute; 
    }

    }
    .hero-holder {
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, .5);
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        color: $white;

        position: absolute;
        top: 0;
        z-index: 2;

        @media (min-width: 667px) and (max-width: 678px) {
            position: absolute;
            top:0;
        }
       
        

        h1 {
            font-size: $h1;
            font-family: $rubrik;
            letter-spacing: 5px;
            margin: 0;
            
            
        }
        img {
            max-width: 300px;
            width: 100%;
            margin: 15px;
            

        }
        p {
            font-size: $p;
            font-family: $text;
            letter-spacing: 2px;
            
            

        }

    }
}

